DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
REDIS_HOST=
REDIS_PORT=
REDIS_DB_CACHE=0
REDIS_DB_LIMITER=1
JWT_SECRET_KEY=certs/private.pem
JWT_PUBLIC_KEY=certs/public.pem
JWT_ALGORITHM=RS256
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
PGADMIN_EMAIL=
PGADMIN_PASSWORD=