:root {
    --bg-main: #1f1f1f;
    --logo-color: rgb(4, 198, 233);
    --header-height: 12vh;
    --menu-item-color: rgb(211, 211, 211);

}
body{
    padding: 0;
    margin: 0;
    background-color: var(--bg-main);
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60%;
    max-width: 1600px;
    background-color: var(--bg-main);
    margin: 0 auto;
}
.header{
    height: 100%;
    height: 10vh;
}
nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
}
.banner{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
#logo-text {
    background-color: transparent;
    color: var(--logo-color);
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    text-decoration: none;
    padding: 0.2em 0.5em;
    transition: background-color 0.1s ease, color 0.1s ease;
}
#logo-text:hover {
    background-color: var(--logo-color);
    color: var(--bg-main);
}
.menu {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
#menu-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    gap: 1em;
}
.menu-item a{
    background-color: transparent;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 1.1em;
    text-decoration: none;
    padding: 0.2em 0.5em;
    transition: background-color 0.1s ease, color 0.1s ease;
    color: var(--menu-item-color);
    text-decoration: none;
}
.menu-item a:hover{
    background-color: var(--logo-color);
    color: var(--bg-main);
}
.menu-item a i {
    background-color: transparent;
    padding: 0.2em 0.5em;
    transition: background-color 0.1s ease, color 0.1s ease;
    color: var(--menu-item-color);
}
.menu-item a:hover i {
    color: var(--bg-main);
}