<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <title>zerw1337 website</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <div class="banner"><a href="/" id="logo-text">zerw1337's website</a></div>
                <div class="menu">
                    <ul class="menu-list">
                        <li class="menu-item"><a href="#">blog</a></li>
                        <li class="menu-item"><a href="#">about</a></li>
                        <li class="menu-item"><a href="#">projects</a></li>
                        <li class="menu-item"><a href="#">tags</a></li>
                        </ul>
                    <ul class="menu-icons">
                        <li>
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" viewBox="0 0 24 24" class="icon">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24" class="icon">
                                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
  <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/></svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24" class="icon">
                                <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5"/></svg>
                            </a>
                        </li>
                    </ul>
                    
                </div>
            </nav>
        </div>
        <div class="main-content">
            <div class="hello-message">
                <p>Привет, Добро пожаловать!</p>
            </div>
            <div class="main-content-pic">
                <img src="../static/img/main-img.png" alt="404">
            </div>
            <div class="main-content-pic-message">
                <p>Иногда я пишу тут свои мысли в виде блоге.</p>
            </div>
            <div class="main-content-main">
                <p class="main-h">Кто Я?</p>
                <p class="main-text">Еще раз привет, рад тебя видеть! Меня зовут Глеб, живу в городе Санкт-Петербург, Россия. В данный заканчиваю институт, параллельно изучаю бекэнд разработку на языке Python, в будущем хочу стать бекэнд разработчиком. Этот сайт - мой учебный проекут, что-то вроде потренироваться. В любом случае, буду здесь ингода писать о играх/фильмах/сериалах/музыке/прочем.</p>
            </div>
            <div class="main-posts-h">
                <div class="hello-message"><p>Посты</p></div>
                <hr>
            </div>
            <div class="posts">
                <div class="post-template">
                    
                </div>
            </div>
            
        </div>
        <div class="footer">

        </div>
    </div>
    
    <script src="..\static/script.js"></script>
</body>
</html>