<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <title>zerw1337 website</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <div class="banner"><a href="/" id="logo-text">zerw1337's website</a></div>
                <div class="menu">
                    <ul class="menu-list">
                        <li class="menu-item"><a href="#">blog</a></li>
                        <li class="menu-item"><a href="#">about</a></li>
                        <li class="menu-item"><a href="#">projects</a></li>
                        <li class="menu-item"><a href="#">tags</a></li>
                        </ul>
                    <ul class="menu-icons">
                        <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-language"></i></a></li>
                        <li><a href="#"><i class="fa-regular fa-sun"></i></a></li>
                    </ul>
                    
                </div>
            </nav>
        </div>
        <div class="main-content">
            <div class="hello-message">
                <p>Привет, Добро пожаловать!</p>
            </div>
            <div class="main-content-pic">
                <img src="../static/img/main-img.png" alt="404">
            </div>
            <div class="main-content-pic-message">
                <p>Иногда я пишу тут свои мысли в виде блоге.</p>
            </div>
            <div class="main-content-main">
                <p class="main-h">Кто Я?</p>
                <p class="main-text">Еще раз привет, рад тебя видеть! Меня зовут Глеб, живу в городе Санкт-Петербург, Россия. В данный заканчиваю институт, параллельно изучаю бекэнд разработку на языке Python, в будущем хочу стать бекэнд разработчиком. Этот сайт - мой учебный проекут, что-то вроде потренироваться. В любом случае, буду здесь ингода писать о играх/фильмах/сериалах/музыке/прочем.</p>
            </div>
            <div class="main-posts-h">
                <div class="main-h">Посты</div>
            </div>
            
        </div>
        <div class="footer">

        </div>
    </div>
    
    <script src="..\static/script.js"></script>
</body>
</html>