<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
    <title>zerw1337 website</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <div class="banner"><a href="/" id="logo-text">zerw1337's website</a></div>
                <div class="menu">
                    <a href="#">blog</a>
                    <a href="#">about</a>
                    <a href="#">projects</a>
                    <a href="#">tags</a>
                    <a href="#">S</a>
                    <a href="#">L</a>
                    <a href="#">T</a>
                </div>
            </nav>
        </div>
        <div class="main-content">

        </div>
        <div class="footer">

        </div>
    </div>
    
    <script src="script.js"></script>
</body>
</html>